#root {
  /* max-width: 1280px; */
    margin: 0 auto;
    text-align: center;
}
body::-webkit-scrollbar{
  display: none;
}

.lightMode{
  background-color: lightgray;
}

hr{
  
}


/*? for all components */


.components_container{
  /* padding: -5px; */
  /* padding-left: -5; */
  /* margin: 30px; */
  /* height: 2000px; */
  width: 99.69%;
  margin-top: 100px ;
}

.all_component{
  margin-bottom: 300px;
}

/*?  for the NavBar component  */


.navbar{
  /* background-color: rgb(0 0 0 / 15%); */
    height: 60px;
    width: 100%;
    position: fixed;
  /* margin: 0px; */
    top: 0;
    padding: 10px 0px 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index:99999999999999;
  /* opacity: 1; */
}



.resume_a{
  text-decoration: none;
  color: #00ffff;
}


/* .navLogo:hover{
    cursor: pointer;
    border-bottom: #ff00ff solid 2px;
} */


.navbar ul{
    background-color: rgb(0 0 0 / 50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #00ffff;
    list-style: none;
    width: 90%;
    font-size: 40px;
    border: solid #00ffff 1px;
    border-radius: 50px;
    margin: 0px;
    padding: 0px;
    opacity: 1;
}

.li_logo{
  height: 100%;
  display: flex;
  justify-content: center;
align-items: center;
}
.navLogo{
  height: 60px;
  margin: 0px;
}

.navbar ul li:hover , .resume_a:hover{
    cursor: pointer;
    color:#ff00ff;
    border-bottom: #ff00ff solid 2px;
}

/* .navbar ul li a{
  text-decoration:none
} */


.navbar {
  -webkit-animation: navbar 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: navbar 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes navbar {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1;
  }
}
@keyframes navbar {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1;
  }
}


.hideNavBar {
  -webkit-animation: hideNavBar 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: hideNavBar 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  /* z-index: 900; */
}


@-webkit-keyframes hideNavBar {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(70deg);
    transform: rotateX(70deg);
    opacity: 0;
  }
}
@keyframes hideNavBar {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(70deg);
    transform: rotateX(70deg);
    opacity: 0;
  }
}



 /*? for the Go to menu  */
  .Go_to_animation {
	-webkit-animation: Go_to_animation 1s both;
	        animation: Go_to_animation 1s both;
}




@-webkit-keyframes Go_to_animation {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes Go_to_animation {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}


/* .navLogo{
  animation:rotate 10s ;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  border-bottom: none;
} */









/*exit */
.Go_to_animationExit {
	-webkit-animation: Go_to_animationExit 0.45s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
	        animation: Go_to_animationExit 0.45s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
}

@-webkit-keyframes Go_to_animationExit {
  0% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px) scaleY(2) scaleX(0.2);
            transform: translateY(-1000px) scaleY(2) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
}
@keyframes Go_to_animationExit {
  0% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px) scaleY(2) scaleX(0.2);
            transform: translateY(-1000px) scaleY(2) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
}

/* ? for the circle menu   experimental*/


.circular-menu .floating-btn {
  display: block;
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  background-color: hsl(4, 98%, 60%);
  box-shadow: 0 2px 5px 0 hsla(0, 0%, 0%, .26);  
  color: hsl(0, 0%, 100%);
  text-align: center;
  line-height: 3.9;
  cursor: pointer;
  outline: 0;
}

.circular-menu.active .floating-btn {
  box-shadow: inset 0 0 3px hsla(0, 0%, 0%, .3);
}

.circular-menu .floating-btn:active {
  box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, .4);
}

.circular-menu .floating-btn i {
  font-size: 1.3em;
  transition: transform .2s;  
}

.circular-menu.active .floating-btn i {
  transform: rotate(-45deg);
}

.circular-menu:after {
  display: block;
  content: ' ';
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
  background-color: hsl(4, 98%, 60%);
  transition: all .3s ease;
}

.circular-menu.active:after {
  transform: scale3d(5.5, 5.5, 1);
  transition-timing-function: cubic-bezier(.68, 1.55, .265, 1);
}

.circular-menu .items-wrapper {
  padding: 0;
  margin: 0;
}

.circular-menu .menu-item {
  position: absolute;
  top: .2em;
  right: .2em;
  z-index: -1;
  display: block;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  font-size: 1em;
  width: 3em;
  height: 3em;
  border-radius: 50%;

  text-align: center;
  line-height: 3;
  background-color: hsla(0,0%,0%,.1);
  transition: transform .3s ease, background .2s ease;
}

.circular-menu .menu-item:hover {
  background-color: hsla(0,0%,0%,.3);
}

.circular-menu.active .menu-item {
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.circular-menu.active .menu-item:nth-child(1) {
  transform: translate3d(1em,-7em,0);
}

.circular-menu.active .menu-item:nth-child(2) {
  transform: translate3d(-3.5em,-6.3em,0);
}

.circular-menu.active .menu-item:nth-child(3) {
  transform: translate3d(-6.5em,-3.2em,0);
}

.circular-menu.active .menu-item:nth-child(4) {
  transform: translate3d(-7em,1em,0);
}

/**
 * The other theme for this menu
 */

.circular-menu.circular-menu-left {
  right: auto; 
  left: 1em;
}

.circular-menu.circular-menu-left .floating-btn {
  background-color: hsl(217, 89%, 61%);
}

.circular-menu.circular-menu-left:after {
  background-color: hsl(217, 89%, 61%);
}

.circular-menu.circular-menu-left.active .floating-btn i {
  transform: rotate(90deg);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(1) {
  transform: translate3d(-1em,-7em,0);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(2) {
  transform: translate3d(3.5em,-6.3em,0);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(3) {
  transform: translate3d(6.5em,-3.2em,0);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(4) {
  transform: translate3d(7em,1em,0);
}



/*? for the new btn circle effect */

/* .navLogo{
  height: 50px;
  margin-top:5px;
} */
.circleContainer{
  width: 60px;
  height: 60px;
}

#menu {
  width: 60px;
  height: 60px;
  position: absolute;

  list-style: none;
}

.menu-button {
  opacity: 0;
  z-index: -1;
} 

.menu-button {
  width: 60px;
  height: 60px;
  position: absolute;

  border-radius: 50%;
  background-size: 100%;
  overflow: hidden;
  text-decoration: none;
}

#menu:not(:target)>a:first-of-type,
#menu:target>a:last-of-type {
  opacity: 1;
  z-index: 1;
}

#menu:not(:target)>.icon-plus:before,
#menu:target>.icon-minus:before {
  opacity: 1;
}

.menu-item {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 70%;
  line-height: 5px;
  top: 65%;
  margin: -50px 0 0 -50px;
  border-radius: 50%;
  border: solid white 2px;
  background-color: #424242;
  transform: translate(0px, 0px);
  transition: transform 500ms;
  z-index: -2;
  transition: .5s;
  cursor: pointer; 
}

.menu-item:hover {
  opacity: 0.5;
  box-shadow: 0 5px 10px black;
}

.menu-item a {
  color: #fff;
  position: relative;
  top: 50%;
  left: 0;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


.fade{
  opacity: 0;
  width: 0px;
  height: 0px;
}

#menu:target>.menu-item:nth-child(6) {
  transform: rotate(60deg) translateY(150px) rotate(300deg); 
  transition-delay: 0s;
}

#menu:target>.menu-item:nth-child(5) {
  transform: rotate(20deg) translateY(155px) rotate(-20deg);
  transition-delay: 0.1s;
}

#menu:target>.menu-item:nth-child(3) {
  transform: rotate(-20deg) translateY(155px) rotate(20deg); 
  transition-delay: 0.2s;
}

#menu:target>.menu-item:nth-child(4) {
  transform: rotate(-60deg) translateY(150px) rotate(60deg); 
  transition-delay: 0.3s;
}


.goTo_ul{
  display: flex;
  flex-direction: column;
  height: 300px;

}

.goTo_ul li p{
  border: 0px none transparent;
  font-size: 30px;
  margin: 0px;
}


.dropDownGoTo{
  position: absolute;
  left: 5%;
  width: 200px;
  padding: 10px;
}





/*? for the language button component  for the navbar*/

.circleItems{
    height: 46px;
    margin-bottom: 60px;
}



/* for the animation btn */
/* .animation_Mode{

} */

/*? for the welcome component */

.welcome{
    height: 600px;
    width: 100%;
  /* background-color: crimson; */
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:0px 0px 30px 0px;
}

.welcomeLeft {
  /* background-color:red; */
    height: 100%;
    width: 1000px;
}  

.welcomeMessage{
    /* width: 70%; */
    padding: 10px;
    text-align: left;
    font-size: 60px;
    color: #00ffff;
}

.subheader_message{
    font-size:30px;
    width: 90%;
    
    color: lightblue;
    opacity: 0;
}

.welcomeBtn{
    width: 100%;
    display:flex;
    justify-content: space-around;
    align-items: center;
}


/* color: #f43c71; 
/* border: solid 2px #ff00ff; 
/* background-color: #f8d3e1; */
.btn_welcome{
height: 70px;
width: 200px;
font-size: 25px;
color: #ff00ff;
background-color: transparent;
border: solid 2px #ff00ff;
opacity: 0;
filter: blur(5px);
}

.btn_welcome:hover{
color: #f43c71;
background-color: #f8d3e1;
transform: translateY(-10px);
/* transition-delay:0ms ; */
}

.subheader{
    font-size:30px;
    width: 100%;
    /* color: ghostwhite; */
    color: lightblue;
    /* opacity: 0; */
}

.welcomeRight {
  /* background-color: gray; */
    height: 100%;
    width: 500px;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
}

.logo{
    height: 90%;
    opacity: 0;
}

.welcomeRight p {
    margin: 0px;
    font-size: small;
}

/* ! animations for the welcome component */

.logo {
    animation: popIn 3s ease 4s forwards; /* Apply the pop animation */
}
.subtext{
    opacity: 0;
    animation: show 1s ease 6.5s normal forwards;
}

.welcomeMessage_animation {
    animation-name: slideFromTop;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
}

.subheader_animation {
    animation: slideFromLeft  3s ease 1.5s forwards;
}

.subheader_no_animation{
    font-size:30px;
    width: 90%;
    color: lightblue;
opacity: 1;
}

.btn_welcome_no_animation{
    opacity: 1;
    height: 70px;
    width: 200px;
    font-size: 25px;
    color: #ff00ff;
    background-color: transparent;
    border: solid 2px #ff00ff;
    }


.btn_welcome_no_animation:hover{
        color: #f43c71;
        background-color: #f8d3e1;
        transform: translateY(-10px);
        /* transition-delay:0ms ; */
        }





.btn_welcome:nth-child(1){
    /* border-bottom-left-radius:0px ;
    border-top-right-radius:0px ; */
    border-top-right-radius:0px ;
    border-top-left-radius:50px ;
    border-bottom-left-radius:50px ;
    border-bottom-right-radius:0px ;
    
    border-right: 0px;
    /* width: 200px; */
    /* transition-delay:0.5s; */
    animation: show 1s ease 1.5s normal forwards;
}

.btn_welcome:nth-child(2){
    /* border-bottom-left-radius:0px ;
    border-top-right-radius:0px ; */
    /* border-radius: 0px; */
    border-left: 0px;
    border-right:  0px;
    /* transition-delay:1s ; */
    animation: show 1s ease 2s normal forwards;
}

.btn_welcome:nth-child(3){
    /* border-top-left-radius:0px ;
    border-bottom-right-radius:0px ; */          
    /* border-radius: 0px; */
    border-left: 0px;
    border-right:  0px;
    /* transition-delay:1.5s ; */

    animation: show 1s ease 2.5s normal forwards;
}

.btn_welcome:nth-child(4){
    border-top-left-radius:0px ;
    border-top-right-radius:50px ;
    border-bottom-left-radius:0px ;
    border-left: 0px;
    /* border-bottom-right-radius:30px ; 
    /* border-right:  0px; */ 
    /* border-left:0px ; */
    /* border-radius: 0px; */
    /* transition-delay:2s ; */
 
    animation: show 1s ease 3s normal forwards;
}


.btn_welcome_no_animation{
    opacity: 1;
    filter: blur(0);
}


.btn_welcome_no_animation:nth-child(1){
    /* border-bottom-left-radius:0px ;
    border-top-right-radius:0px ; */
    border-top-right-radius:0px ;
    border-top-left-radius:50px ;
    border-bottom-left-radius:50px ;
    border-bottom-right-radius:0px ;
    
    border-right: 0px;
    /* width: 200px; */
    /* transition-delay:0.5s; */
    /* animation: show 1s ease 1.5s normal forwards; */
}

.btn_welcome_no_animation:nth-child(2){
    /* border-bottom-left-radius:0px ;
    border-top-right-radius:0px ; */
    /* border-radius: 0px; */
    border-left: 0px;
    border-right:  0px;
    /* transition-delay:1s ; */
    /* animation: show 1s ease 2s normal forwards; */
}

.btn_welcome_no_animation:nth-child(3){
    /* border-top-left-radius:0px ;
    border-bottom-right-radius:0px ; */
    /* border-radius: 0px; */
    border-left: 0px;
    border-right:  0px;
    /* transition-delay:1.5s ; */

    /* animation: show 1s ease 2.5s normal forwards; */
}

.btn_welcome_no_animation:nth-child(4){
    border-top-left-radius:0px ;
    border-top-right-radius:50px ;
    border-bottom-left-radius:0px ;
    border-left: 0px;
    /* border-bottom-right-radius:30px ; 
    /* border-right:  0px; */ 
    /* border-left:0px ; */
    /* border-radius: 0px; */
    /* transition-delay:2s ; */
 
    /* animation: show 1s ease 3s normal forwards; */
}

.logo_no_animation{
    opacity: 1;
    height: 90%;
}

.subtext_no_animation{
    opacity: 1;
}

/*  */





/*? for the what i do component */
.whatIDo{
    width: 100%;
    height: 800px;
    /* background-color: green; */
    /* margin:20px 0px  20px 0px ; */
}

.whatIDo_top{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #00ffff solid 2px;
    background-color:#00ffff ;
    /* border-radius: 40px; */
    font-size:30px;
    /* transform: translateX(-100%); */
    opacity: 0;
}


/* color: #242424; */
/* .whatIDo_top_text{
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} */
/* border: #00ffff solid 2px; */
/* background-color:#00ffff ; */

.whatIDo_middle{
    /* background-color: blue; */
    display:flex;
    width: 100%;
    height: 50%;
    /* grid-template-columns: 1fr 1fr;
    row-gap: 10px;
    grid-template-rows:minmax(150px auto); */
    /* justify-items:center;
    align-items: center; */
    justify-content: center;
    align-content: center;
    
    margin: 0px;
    
}
.whatIDo_middle h1{
    font-size:35px;
    color: #00ffff;
}



.whatIDo_middle p{
    /* font-size:20px; */
    display: inline-block;
    width: 90%;
    text-align: center;
    /* border:#ff00ff solid 1px ; */
    color: lightblue;
   
}

.whatIDo_left{
    /* grid-column: 1/3; */
    /* this is a short hand for grid-column-start and  grid-column-end  */
    /* you can also use  span 2(this spans the grid items 2 columns)  instead of 1/2*/
    /* height: 50%; */
    flex: 1;
    /* background-color: purple; */
    opacity: 0;
}
.whatIDo_right{
    /* grid-column-:2/3;*/
    /* height: 50%; */
    /* background-color:blue; */
    flex:1;
    margin:0px;
    opacity: 0;
}

.whatIDo_bottom{
    /* background-color: red; */
    height:100% ;
    /* flex: 1; */
    margin: 0px;
    width: 50%;
    margin:0 auto ;
    opacity: 0;
} 
.whatIDo_bottom h1{ 
  /*todo delete this later */
    /* background-color: red;
    height:100% ;
    flex: 1; */
    margin-top: 0px;
    font-size:35px;
    color: #00ffff;
} 

.whatIDo_bottom p{ 
  /*todo delete this later */
    /* background-color: red;
    height:100% ;
    flex: 1; */
    margin: 0px;
    color: lightblue;
    /* f */
} 

.whatIDo_top_text{
  color: #242424;
  /* color: white; */
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
     /* border: #00ffff solid 2px; */
    /* background-color:#00ffff ; */
    opacity: 0;
    filter: blur(5px);
}
/* .whatIDo_top_text_opacity{
  opacity: 1;
  filter: blur(0px);
} */

.whatIDo_top_animation{
  animation: slideFromLeft  2s ease  forwards;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}
.whatIDo_top_tex_animation{
  animation: slideFromRight  2.5s ease 1.5s forwards; 
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

.blink{

}

.blink:nth-child(1){
  /* animation: show 5s  4s; */
}


.whatIDo_left_animation{
  animation: show 3s ease 2.5s forwards;
}
.whatIDo_right_animation{
  animation: show 3s ease 3s forwards;
}
.whatIDo_bottom_animation{
  animation: show 3s ease 3.5s forwards;
}

/* .whatIDo_left_animation{
  animation: show 3s ease 2.5s forwards;
}
.whatIDo_right_animation{
  animation: show 3s ease 3s forwards;
}
.whatIDo_bottom_animation{
  animation: show 3s ease 3.5s forwards;
} */

/*? for the tools component */
.tool_container{
  width: 100%;
  height: 700px;
  /* background-color: purple; */
  margin:20px 0px  40px 0px ;
}

.tool_container h1{
  color: #00ffff;
  font-size:60px;
}
.tool_container a{
  color: white;
  text-decoration: none;
}



.tools{
  width: 100%;
  height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}


.tech_logos{
  width: 100px;
  height: 100px;
  /* background-color: yellow; */
  opacity: 0;
}

.tech_logos:hover {
/* animation: popOut 1s ease forwards ; */
cursor: pointer;
}


.languages{
  width: 80%;
  display: inherit;
  justify-content: space-around;
    align-items: center;
}

.frameworks_libraries{
  width: 80%;

  display: inherit;
  justify-content: space-around;
  align-items: center;
}

.databases{
  width: 80%;

  display: inherit;
  justify-content: space-around;
    align-items: center;
}

.title{
  opacity: 0;
  filter: blur(5px);
}

/* .title{
  animation: scaleDown 3s ease forwards;
} */
.title_animation{
  animation: scaleDown 3s ease  forwards;
}

.logo_animation_1{
  animation: scaleDown2 2s linear 2s forwards;
}
.logo_animation_2{
  animation: scaleDown2 2s linear 3.5s forwards;
}
.logo_animation_3{
  animation: scaleDown2 2s linear 4.5s forwards;
}



/*? for the projects component */
.project{
  width: 100%;
  height: 700px;
  /* background-color:rgb(165, 165, 127) ; */
  margin:40px 0px  40px 0px ;
}
.header{
  color: #00ffff;
  font-size:60px;
  margin:60px 0px  0px 0px;
}


.projects_container{
  width: 100%;
  height: 90%;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.card_project{
  background-color: darkgray;
  height: 500px;
  width: 400px;
  border-radius: 60px;
  border: black solid 2px;
  margin: 0px;
}


.card_project img{
  margin-top: 20px;
  width: 80%;
  height: 150px;
  /* border-radius: 30px; */
  border: 2px solid black;
  
}

.card_project h1{
  /* color: #00ffff; */
  /* font-size:60px; */
  /* margin:60px 0px  0px 0px; */
}
.red h1{
    color: red;
}
.blue h1{
  color: blue;
}

.project_tittle_hide{
  opacity: 0;
  filter: blur(5px);
  /* transform: translateX(500px); */
  transition: all 1s;
}

.project_tittle{
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0px);
}

 .project_tittle:nth-child(1){

  transition-delay:1400ms ;
}
   .project_tittle:nth-child(2){

  transition-delay:1200ms ;
}

   .project_tittle:nth-child(3){

  transition-delay:1000ms ;
}
 .project_tittle:nth-child(4){

  transition-delay:800ms ;
}
   .project_tittle:nth-child(5){

  transition-delay:600ms ;
}
   .project_tittle:nth-child(6){

  transition-delay:400ms ;
}
   .project_tittle:nth-child(7){

  transition-delay:200ms ;
}
   .project_tittle:nth-child(8){

  transition-delay:100ms ;
}

 .card_project:nth-child(1){
  /* opacity: 0; */
  transition: all 2s;
  filter: blur(5px);
  transform: translateX(-50%);
  transition-delay:200ms ;
}
   .card_project:nth-child(2){
  /* opacity: 0; */
  transition: all 2s;
  filter: blur(5px);
  transition-delay:400ms ;
}
   .card_project:nth-child(3){
  /* opacity: 0; */
  transition: all 2s;
  filter: blur(5px);
  transition-delay:600ms ;
}




.projects_container .card_project:nth-child(1){
  opacity: 1;
  filter: blur();
  transform: translateX(0);
}
.projects_container   .card_project:nth-child(2){
  opacity: 1;
  filter: blur();
  transform: translateX(0);
}
.projects_container   .card_project:nth-child(3){
  opacity: 1;
  filter: blur();
  transform: translateX(0);
}



/* .hidden:nth-child(4){
  transition-delay:600ms ;
  opacity: 0;
  transition: all 2s;
  filter: blur(5px);
  transform: translateX(-50%);
} */

/* .hidden{
  opacity: 0;
  transition: all 2s;
  filter: blur(5px);
  transform: translateY(-50%);
} */

/* @media(prefers-reduced-motion){
  .hidden{
    transition: none;
  }
  
}
*/

/* .show:nth-child(4){
  opacity: 1;
  filter: blur();
  transform: translateX(0);

}  */



/*? For Main component */
.profile{
  /* background-color: #5a0009; */
  /* margin: 20px 0px 0px 0px; */
  width: 100%;
  height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.profileContainer{
  /* background-color: #ff00ff; */

  width: 100%;
  height: 100%;
  /* padding: 0%; */
}

.profile_top{
  width: 100%;
  height: 100px;
  /* background-color:darkcyan; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #00ffff;
  font-size:30px;
  /* margin-bottom: 30px; */
}

.profile_top h1{
  border: #00ffff solid 2px;
  border-radius: 50px;
  padding: 10px;
  margin: 0px;
}


.content_container{
  /* background-color: red; */
  margin: 0 auto;
  padding: 0 auto;
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


.profile_left{
  width: 500px;
  height: 450px;
  /* background-color:blue; */
  /* display: inline-block; */
  /* border-radius: 50px; */
}

.profile_center{
  width: 500px;
  height: 650px;
  /* background-color:blue; */
  /* display: inline-block; */
}

.profile_center img{
width: 100%;
/* height: 400px; */
/* object-fit: contain; */

}
.profile_right{
  width: 500px;
  height: 650px;
  /* background-color:blue; */
  /* display: inline-block; */
}



.profile_left ,.profile_center, .profile_right , .profile_center img{
    border-radius: 50px;
}

textarea{
    background-color: gray;
    color: white;
    text-align: center;
    border: white;
}

textarea::placeholder{
    color:#00ffff;
    text-align: center;
}






/* all animations */

@keyframes popIn {
    0% {
        transform: scale(0); /* Start with no scale (hidden) */
        opacity: 1;
    }
    50% {
        transform: scale(1.2); /* Grow to slightly larger than normal size */
        opacity: 1;
    }
    100% {
        transform: scale(1); /* Return to normal size */
        opacity: 1;
    }
}

@keyframes rotate{
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }
}

@keyframes slideFromTop {
    from{
        transform: translateY(-300px);
        
    }

    to{
        transform: translateY(0);

    }
}


@keyframes slideFromLeft {
    from{
        transform: translateX(-100%);
        /* opacity: 0; */
        opacity: 1;
    }

    to{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideFromRight {
    0%{
        transform: translateX(100%);
        opacity: 1;
        filter: blur(3px);
    }
      50%{
        opacity: 1;
        filter: blur(2px);
      }

    100%{
        transform: translateX(0);
        opacity: 1;
        filter: blur(0px);
    }
}

@keyframes show {
  from{
    opacity: 0;
    filter: blur(5px);
  }

    to{
        opacity: 1;
        filter: blur(0);
    }
    
}

@keyframes BlinkIn {
    0%{
        opacity: 0;
    }

    25%{
        opacity: 1;
    }
    
    50%{
        opacity: 0;
    }

    75%{
        opacity: 1;
    }
    80%{
        opacity: 0;

    }
    100%{
        opacity: 1;

    }
}


@keyframes infiniteCarousel {
    0%, 100% {
      animation: leave 5s ease-in-out 0s infinite, enter 5s ease-in-out 5s infinite;
    }
  }

@keyframes leave {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(-200%);
      filter: blur(5px);
      opacity: 0;
    }
  }
  
  @keyframes enter {
    0% {
      transform: translateX(200%);
      filter: blur(5px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }


  @keyframes slideBlur {
    0% {
      transform: translateX(100%);
      opacity: 0;
      filter: blur(5px);
    }
    30% {
      transform: translateX(50%);
      opacity: 1;
      filter: blur(0);
    }
    60% {
      transform: translateX(50%);
      opacity: 1;
      filter: blur(0);
    }
    100% {
      transform: translateX(-100%);
      opacity: 0;
      filter: blur(5px);
    }
  }
  

  @keyframes scaleDown {
    0% {
      transform: scale(2); /* Start with no scale (hidden) */
      filter: blur(5px);
      opacity: 1;
  }

  100% {
      transform: scale(1); /* Return to normal size */
      filter: blur(0px);
      opacity: 1;
  }
  }

  @keyframes scaleDown2 {
    0% {
      transform: scale(1.5); /* Start with no scale (hidden) */
      filter: blur(5px);
      opacity: 1;
  }

  100% {
      transform: scale(1); /* Return to normal size */
      filter: blur(0px);
      opacity: 1;
  }
  }

  @keyframes popOut {
    0% {
      transform: scale(1); /* Start with no scale (hidden) */
      filter: blur(0px);
      opacity: 1;
    }
  
    100% {
      transform: scale(1.4); /* Slightly larger on hover */
      filter: blur(0px);
      opacity: 1;
    }
  }




/* .content_container{
overflow: hidden;
resize: vertical;
} */




/* make all the animations */
/* .hidden{
opacity: 0;
transition: all 2s;
filter: blur(5px);
transform: translateX(-50%);
}

@media(prefers-reduced-motion){
.hidden{
    transition: none;
}

}


.show{
opacity: 1;
filter: blur();
transform: translateX(0);

} */