/*! make use of the @media selector        go see this video to help  https://www.youtube.com/watch?v=yU7jJ3NbPdA  */



#root {
  margin: 0px auto;
  text-align: center;
  padding: 0px;
}
/*! fix the site for small screens using medias queréis "*/
html{
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  max-width: 100%;
}


body::-webkit-scrollbar{
  display: none;
  padding: 0px;
  width: 0px;
  /* width: 1px; */
  /* scroll-behavior: smooth; */
}

.lightMode{
  background-color: lightgray;
}

.hidden_a_tag{
  text-decoration: none;
  color: #ff00ff;
}

/*? for all components */
.components_container{
margin-top: 30px ;
}

.all_component{
margin-bottom: 300px;
}

.all_component:last-child{
  margin-bottom: 100px;
  }


/*?  for the NavBar component  */
.navbar{
height: 60px;
width: 100%;
position: fixed;
top: 0;
padding: 10px 0px ;
display: flex;
align-items: center;
justify-content: center;
z-index:99999999999999;
/* z-index:-20; */
}


/** for the ul in the navbar */
/* styling for the ul in the navbar */
.navbar ul{
background-color: rgb(0 0 0 / 50%);
display: flex;
justify-content: space-around;
align-items: center;
color: #00ffff;
list-style: none;
width: 90%;
font-size: 40px;
border: solid #00ffff 1px;
border-radius: 50px;
margin: 0px;
padding: 0px;
opacity: 1;
}

/* for the li items in the navbar */
.li_logo{
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}

/* logo styling in the navbar */
.navLogo{
height: 60px;
margin: 0px;
}

/* hover events for the ul in the navbar */
.navbar ul li:hover , .resume_a:hover{
cursor: pointer;
color:#ff00ff;
border-bottom: #ff00ff solid 2px;
}

/* this shows the nav bar animation */
.navbar {
-webkit-animation: navbar 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
animation: navbar 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/*hide the navbar */
.hideNavBar {
-webkit-animation: hideNavBar 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
animation: hideNavBar 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
z-index: 900;
}



/**for the li items */
/* styling for the resume btn */
.resume_a{
text-decoration: none;
color: #00ffff;
}

.language{
/* fill: white;
color: white; */
height: 60px;
margin: 0px;
}

.language_div{
display: flex;
justify-content: center;
align-items: center;
}

/** for the drop menus in the navbar */
.Go_to_animation {
-webkit-animation: Go_to_animation 1s both;
animation: Go_to_animation 1s both;
}

/* for the go to drop down */
.goTo_ul{
display: flex;
flex-direction: column;
height: 300px;
}

.goTo_ul li p{
border: 0px none transparent;
font-size: 30px;
margin: 0px;
}

.dropDownGoTo{
position: absolute;
left: 9%;
width: 250px;
padding: 10px;
}

/* for the language drop down */
.dropDownLanguage{
position: absolute;
left: 60.5%;;
width: 250px;
padding: 10px;
}

/* for the Socials drop down */
.dropDownSocials{
position: absolute;
left: 80.5%;;
width: 250px;
padding: 10px;
}

/* disable an item in the drop down menu */
.disabled {
pointer-events:none; 
opacity:0.1;
}

/* for the icons in the socials menu */

.github_logo , .instagram_logo , .linkedIn_logo{
height: 50px;
opacity: 1;
}

.github_logo{
background-color: white;
border-radius: 45%;
}

.instagram_logo {
border-radius: 40%;
}

.linkedIn_logo{
border-radius: 50%;
}


/** alt navbar */
/* making variable */
:root{
  --bg:#242526;
  --bg-accent:#484a4d;
  --text-color:#dadce1;
  --nav-size:60px;
  --border:solid 1px #474a4d;
  --border-radius:8px;
  --speed:500ms;
  /* --bg-accent:#484a4d;
  --bg-accent:#484a4d; */
}

/* make the back-ground  of the nav-bar */
.side-bar{
  height: var(--nav-size);
  width: 100%;
  /* background-color: rgb(0 0 0 / 15%) ; */
  padding: 0;
  /* border-bottom: var(--border); */
  z-index: 90000;
  position: fixed;
  /* right: auto; */
  top:0;


}

/* for the ul in the side_bar component */
.side-bar-ul{
  list-style: none;
  margin: 0;
  margin-right: 15px;
  padding: 0;
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  /* z-index: 90000; */
}

/* for the  li items in the NavItem component */
.side-bar-item{
  width: calc(var(--nav-size) *0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  /* z-index: 90000; */
}

/* for the tag in the NavItem component */
.icon-button{
  --button-size: calc(var(--nav-size)*0.5);
  width: var(--button-size);
  height: var(--button-size);
  background-color:#8f8f8f ;
  border-radius: 50%;
  border:solid #00ffff 2px;
  color: #00ffff;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
  text-decoration: none;
  /* z-index: 90000; */
}

.icon-button:hover{
  filter: brightness(1.5);
  /* z-index: 90000; */
}

/* for the p tag in the dropDown component */
.side-bar-p{
  color:var(--text-color);
  text-decoration: none;
  /* color: #00ffff; */
  /* z-index: 90000; */
  /* background-color: red; */
}

/* for the a tag in tne dropDown component */
.dropDown_item{
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
  z-index: 90000;
  color: #00ffff;
  text-decoration: none;
}

/* for the  div that holds the drop items in the dropdown component */

.side-bar-dropDown{
  position: absolute;
  top:58px;
  width: 300px;
  transform: translateX(-45%);
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 1rem;
  overflow: hidden;
  z-index: 90000;
  transition: height var(--speed) ease;
}


.dropDown_item:hover{
  background-color: #525357;
  cursor: pointer;
}
.drop_down_a{
  text-decoration: none;
  color: #dadce1;
}

.icon-right{
margin-left:auto;
}


.menu-primary-enter{
  position: absolute;
  transform: translateX(-110%);
}
.menu-primary-enter-active{
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-primary-exit{
  position: absolute;
}
.menu-primary-exit-active{
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}

.menu-secondary-enter{
  /* position: absolute; */
  transform: translateX(110%);
}
.menu-secondary-enter-active{
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-secondary-exit{
  /* position: absolute; */

}
.menu-secondary-exit-active{
  transform: translateX(110%);
  transition: all var(--speed) ease;
}



/*? for the welcome component */
/* container for the welcome component items */
.welcome{
/* max-height: 1000px; */
max-width:100%;
/* background-color: crimson; */
margin-top: 20px;
margin-bottom: 50px;
display: flex;
justify-content: space-around;
align-items: center;
flex-wrap: wrap;
margin:0px 0px 30px 0px;

}

/** left side of the welcome container */
.welcomeLeft {
/* background-color:green; */
max-height: 100%;
max-width: 1000px;
/* flex: 1; */
}  

/* for title of the left side */
.welcomeMessage ,.welcome_a_tag{
/* width: 70%; */
padding: 10px;
text-align: left;
font-size: 60px;
color: #00ffff;
}

/* calls the slideFromTop animation */
.welcomeMessage_animation {
animation: slideFromTop 2s ease 0s 1 normal none;
}

/** for the paragraph in the left side  */
.subheader{
  width: 100%;
  color: lightblue;
  }

.subheader_message{
font-size:30px;
width: 90%;
color: lightblue;
opacity: 0;
}




/* calls the slideFromLeft animation  */
.subheader_animation {
animation: slideFromLeft  3s ease 1.5s forwards;
}


/* * for the btns in the left side */
.welcomeBtn{
width: 100%;
display:flex;
justify-content: space-around;
align-items: center;
}

/* styling for the btns in the left side  */
.btn_welcome{
height: 70px;
width: 200px;
font-size: 25px;
color: #ff00ff;
background-color: transparent;
border: solid 2px #ff00ff;
opacity: 0;
filter: blur(5px);
display: flex;
justify-content: center;
align-items: center;
}

/* hover evert for the btns in the left side */
.btn_welcome:hover{
color: #f43c71;
background-color: #f8d3e1;
transform: translateY(-10px);
}

/* nth child selector for the btns in left side */
/* calls the show animation */
.btn_welcome:nth-child(1){
border-top-right-radius:0px ;
border-top-left-radius:50px ;
border-bottom-left-radius:50px ;
border-bottom-right-radius:0px ;
border-right: 0px;
animation: show 1s ease 1.5s normal forwards;
}

.btn_welcome:nth-child(2){
  border-left: 0px;
  border-right:  0px;
  animation: show 1s ease 2s normal forwards;
}

.btn_welcome:nth-child(3){
  border-left: 0px;
  border-right:  0px;
  animation: show 1s ease 2.5s normal forwards;
}

.btn_welcome:nth-child(4){
  border-top-right-radius:50px ;
  border-bottom-right-radius:50px ;
  border-bottom-right-radius:50px ;
border-left: 0px;
animation: show 1s ease 3s normal forwards;
}

/* * for the right side  */
.welcomeRight {
/* background-color: gray; */
  max-height: 100%;
  max-width: 500px;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
}

/* for the logo img in the right side */
/* calls the animation for the logo */
.logo{
  /* height: 90%; */
  height: 500px;/* !fix this  */
  opacity: 0;
  animation: popIn 3s ease 4s forwards; /* Apply the pop animation */
} 


/* for the p in the right side*/
.welcomeRight p {
  margin: 0px;
  font-size: small;
}


/** for the subtext in the right */
/* calls the show animation  */
.subtext{
animation: show 1s ease 6.5s normal forwards;
opacity: 0;
}



/*? for the what i do component */
.whatIDo{
width: 100%;
/* height: 800px; */
/* background-color: green; */
}

/** title of the what i do component */
/* this targets the top section on the what i do component */
.whatIDo_top{
width: 100%;
height: 100px;
display: flex;
justify-content: center;
align-items: center;
border: #00ffff solid 2px;
background-color:#00ffff ;
opacity: 0;
margin-bottom:50px;
}

/* for the text in the top section */
.whatIDo_top_text{
color: #242424;
height: 100%;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
  opacity: 0;
  filter: blur(5px);
  font-size: 60px;
  margin: 0px;
}

/* calls the slideFromLeft animation */
.whatIDo_top_animation{
animation: slideFromLeft  1.5s ease  forwards;
}
/* calls the slideFromRight animation */
.whatIDo_top_tex_animation{
animation: slideFromRight  1.5s ease 1s forwards; 
}

/** middle section on the what i do component */
.whatIDo_middle{
/* background-color: blue; */
display:flex;
width: 100%;
height: 50%;
justify-content: center;
align-content: center;
/* margin-bottom: 30px; */
}

/* changes the h1 in the middle section */
.whatIDo_middle h1{
font-size:35px;
color: #00ffff;
}

/* changes the p in the middle section */
.whatIDo_middle p{
display: inline-block;
max-width: 800px;
text-align: center;
color: lightblue;
}

/* targets the left section of the middle */
.whatIDo_left{
flex: 1;
opacity: 0;
margin:30px ;
}

/* targets the right section of the middle */
.whatIDo_right{
flex:1;
margin:30px ;
opacity: 0;
}

/* calls the show animation */
.whatIDo_left_animation{
animation: show 2s ease 2s forwards;
}

/* calls the show animation */
.whatIDo_right_animation{
animation: show 2s ease 2.5s forwards;
}

/** bottom section on the what i do component */
.whatIDo_bottom{
/* background-color: red; */
/* margin: 0px; */
max-width:100%;
margin-top: 30px;
opacity: 0;
display: flex;
justify-content: center;
flex-direction: column;
} 

/* changes the h1 in the bottom section */
.whatIDo_bottom h1{ 
margin-top: 0px;
font-size:35px;
color: #00ffff;
} 

/* changes the p in the bottom section */
.whatIDo_bottom div{ 
  display: flex;
  justify-content: center;
  } 
.whatIDo_bottom p{ 
/* margin: 0px; */
color: lightblue;
max-width: 800px;
/* text-align: center; */
} 

/* calls the show animation */
.whatIDo_bottom_animation{
animation: show 2s ease 3s forwards;
}


/*? for the tools component */
.tool_container{
width: 100%;
height: 700px;
/* background-color: purple; */
margin:20px 0px  40px 0px ;
}
/* * title for the tools component */
/* targets the title of the tools component */
.title{
opacity: 0;
filter: blur(5px);
color: #00ffff;
font-size:60px;
}

/* calls the scaleDown animation */
.title_animation{
animation: scaleDown 2s ease  forwards;
}

/* targets the a in the tool component */
.tool_container a{
color: white;
text-decoration: none;
}

/** targets all the tool container */
.tools{
width: 100%;
height: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

/** targets all the images in the tool container*/
.tech_logos{
width: 100px;
height: 100px;
/* background-color: yellow; */
opacity: 0;
}

/* adds a hover event to the images in the tool component */
.tech_logos:hover {
cursor: pointer;
}

/* targets the language container in the tool container */
.languages{
  width: 80%;
  display: inherit;
  justify-content: space-around;
    align-items: center;
}

/* targets the frameworks_libraries container in the tool container */
.frameworks_libraries{
  width: 80%;
  display: inherit;
  justify-content: space-around;
  align-items: center;
}

/* targets the databases container in the tool container */
.databases{
  width: 80%;
  display: inherit;
  justify-content: space-around;
    align-items: center;
}

  /* calls the scaleDown2 animation */
.logo_animation_1{
  animation: scaleDown2 2s linear 2s forwards;
}
.logo_animation_2{
  animation: scaleDown2 2s linear 2.5s forwards;
}
.logo_animation_3{
  animation: scaleDown2 2s linear 3s forwards;
}



/*? for the projects component */
.project{
  width: 100%;
  /* height: 700px; */
  /* background-color:rgb(165, 165, 127) ; */
  margin:40px 0px  40px 0px ;
}

/* targets the title of the projects component */
.header{
  color: #00ffff;
  font-size:60px;
  /* margin:60px 0px  0px 0px; */
}

/* hide the tile of projects component */
.project_tittle_hide{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(100px);
}

/* calls the show animation in a given order */
.project_tittle:nth-child(1){
  animation: show 4s forwards;
}
.project_tittle:nth-child(2){
animation: show 3.5s forwards ;
}
.project_tittle:nth-child(3){
animation: show 3s forwards;
}
.project_tittle:nth-child(4){
animation: show 2.5s forwards;
}
.project_tittle:nth-child(5){
animation: show 2s forwards;
}
.project_tittle:nth-child(6){
  animation: show 1.5s forwards;
}
.project_tittle:nth-child(7){
  animation: show 1s forwards;
}
.project_tittle:nth-child(8){
  animation: show 0.5s forwards;
}
.project_tittle:nth-child(9){
  animation: show 0.01s forwards;
}

/** targets the  projects_container container */
/* .projects_container{
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: red;
} */
.project_container {
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-height: 800px;
  max-width: 100%;
  /* font-family: "Roboto", sans-serif; */
  transition:flex-direction 2s;
  /* background: black; */
}


.options {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: stretch;
  overflow: hidden;
  width:80% ;
  max-width: 1400px;
  /* width: calc(100% - 100px); */
  height: 800px;
  /* background-color: blue; */
  /* padding: 0px; */
}

.option {
  position: relative;
  overflow: hidden;
  /* min-width: 30px; */
  max-width: 80px;
  margin: 10px;
  background: var(--optionBackground, var(--defaultBackground, #e6e9ed));
  border: #242424 solid 2px;
  background-size: auto 200%;
  background-position: center;
  cursor: pointer;
  transition: 1s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

.option:nth-child(1) {
  --defaultBackground: #ed5565;
}
.option:nth-child(2) {
  --defaultBackground: #fc6e51;
}
.option:nth-child(3) {
  --defaultBackground: #ffce54;
}

.active {
  flex-grow: 1;
  transform: scale(1);
  max-width: 90%;
  margin: 0px;
  border-radius: 40px;
  background-size: auto 100%;
}

.option.active .label {
  bottom: 20px;
  left: 20px;
}
.option.active .label .info > div {
  left: 0px;
  opacity: 1;
  color: white;
  background-color: #242424;
  /* -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color:white; */
}
.option:not(.active) {
  flex-grow: 1;
  border-radius: 30px;
}

.option:not(.active) .label {
  top: 90%;
  left: 15%;
}
.option:not(.active) .label .info > div {
  left: 15%;
  opacity: 0;
}

.label {
  display: flex;
  position: absolute;
  right: 0%;
  /* height: 40px; */
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  /* background-color: rgb(0 0 0 / 30%); */
}

.icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 50px;
  max-width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color:#242424;
  color: var(--defaultBackground);
}
.icon img{
  background-color: white;
  opacity: 1;
  width: 100%;
  border-radius:50px ;
}
.icon img:hover{
  /* transform: translateY(-20px);
  transition:transform 2s ; */
  filter: brightness(2)
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  color: black;
  font-weight: bold;
}

.main  h1{
  margin: 0px;
  /* color: #00ffff; */
}

.sub p{
  margin: 0px;
  /* color: lightblue; */
}




/** targets the card_project container */
.card_project {
  /* Keep your existing styles */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 500px;
  width: 400px;
  margin: 0px;
  border: lightblue solid 2px ;
  opacity: 0;
  text-decoration: none;
}

/* changes the size of the images in the project component */
.card_project img{
  width: 100%;
  height: 200px;
  opacity: 0;
}

.eye{
  background-color: white;
  z-index: 3;
  color: white;
}
/* target the h1 in the card project container */
.card_project h1{
  color: #333;
  background-color:#00ffff;
  font-size:25px;
  
}

/* target the p in the card project container */
.card_project p{
  color: lightblue;
}


/* adds a border to the bottom of the card project */
.description_border{
  border:solid #00ffff 1px;
  border-bottom-left-radius: 50px ;
  border-bottom-right-radius: 50px ;
}

.description{
  opacity: 0;
}



/* calls the slideFromRight_short animation in a given order */
.card_project_animate:nth-child(1){
  animation: slideFromRight_short 1.5s 0.5s forwards;
}
.card_project_animate:nth-child(2){
  animation: slideFromRight_short 1.5s 1s forwards;
}
.card_project_animate:nth-child(3){
  animation: slideFromRight_short 1.5s 1.5s forwards;

}
.project_image1{
  animation: slideFromLeft_short 1.5s 2s forwards ;
}
.project_image2{
  animation: slideFromLeft_short 1.5s 2.5s forwards ;
}
.project_image3{
  animation: slideFromLeft_short 1.5s 3s forwards ;
}

.description1{
  animation: slideFromBottom 1.5s 3.5s forwards ;
}
.description2{
  animation: slideFromBottom 1.5s 4s forwards ;
}
.description3{
  animation: slideFromBottom 1.5s 4.5s forwards ;
}









/*? For Main component */
.profile{
  /* background-color: #5a0009; */
  width: 100%;
  /* height: 1200px; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* *targets the title of the profile component */
.profile_top{
width: 100%;
margin-bottom: 50px;
/* height: 100px; */
display: flex;
justify-content: center;
align-items: center;
opacity: 0;
}

/* target the h1 in the profile component */
.profile_top h1{
color: #00ffff;
font-size:60px;
/* transform: rotateY(360deg); */
border: #00ffff solid 2px;
border-radius: 50px;
padding: 10px;
margin: 0px;
opacity: 0;
animation: show 2s forwards;
}

/* make the title rotate */
.turn_title{
animation: page-turn 2s ease .5s forwards;
transform-style: preserve-3d;
}

/* *targets the profile_content_container */

/* targets the profileContainer */
.profileContainer{
  width: 100%;
  display: flex;
  justify-content:space-around;
  align-items: center;
  flex-wrap: wrap;
  }


.profile_content_container{
opacity: 0;
/* background-color: red; */
margin: 0 auto;
padding: 0 auto;
width: 100%;  
display: flex;
justify-content: space-evenly;
align-items: center;
/*perspective: 1000px;  Or any suitable value */
}

/* make the content in the profile component rotate */
.turn_content{
animation: page-turn 2s ease 1.5s forwards;
transform-style: preserve-3d;
}

/** makes the left and right side of the profile_content_container*/
.profile_left img, .profile_right  {
border-radius: 50px;
}

/** targets the left and right side of the profile_content_container*/
.profile_left , .profile_right{
  margin:50px 40px;
}

/** makes the left side of the profile_content_container*/
.profile_left{
  max-width: 550px;
  max-height:750px;
/* background-color:blue; */
/* display: inline-block; */
}

/* target the image in the the left container */
.profile_pic{
width: 100%;
height: 100%;
}

/* *this make the card rotation animation posible  */

/* this makes the skeleton of the card */
.c_comp{
  /* width: 100%;
  height: 100%; */
}

/* adds a hover event to the card */
.c_comp:hover{
cursor: pointer;
}

/*this is for the size of the cart */
.card {
  /* width: 100%; */
  /* height: 100%; */
  /* background-color: green; */
}

/* for all the content front an back  */
.card__content {
text-align: center;
position: relative;
transition: transform 3s;
  /* background: pink; */
transform-style: preserve-3d;
min-width: 550px;
min-height: 750px;
}

/* flips the card */
.flip_card{
transform: rotateY(.5turn);
}

/* *for the front and back */
.card__front,
.card__back {
position: absolute;
/* top: 100px; */
/* bottom: 0; */
/* left: 0;
right: 0; */
/* padding: 5em 3em; */
backface-visibility: hidden;
transform-style: preserve-3d;
display: grid;
align-content: center;
width:100%;
height: 100%;
/* transform-style: preserve-3d; */
/* background-color: red; */
}

/* *for the front  */
.card__front {
color: #333;
width: 100%;
height: 100%;
/* border-radius: 10px; */
}

/* this is the border  */
.card__front::before {
  content: '';
  position: absolute;
  top: 2%;
  bottom: 2%;
  left:10px;
  right: 10px;
  border: 5px solid currentColor;
  transform: translateZ(100px);
  border-radius: 50px;
}

/* for all the word on the front  */
.card__title1,.card__title2,.card__title3,.card__title4 {
  font-size: 30px;
  transform: translateZ(50px);
  order: 2;
  text-transform: uppercase;
  position: absolute;
  color: lightblue;
  letter-spacing: 4px;
  /* opacity: .7; */
}

/* targets title1 */
.card__title1{ 
  transform: translateZ(250px);
  left:100%;
  top: 3%;
  /* transform: rotateY(30%); */
  transform: rotateX(30deg) rotateY(-30deg );
  /* z-index: 999999999; */
  -webkit-text-stroke: #242424;
}

/* targets title2 */
.card__title2{
  transform: translateZ(200px);
  left:0.5%;
  top: 50%;
  -webkit-text-stroke: #242424;
}

  /* targets title3 */
  /* calls the wave animation */
.card__title3{ 
  transform: translateZ(100px);
  left:100%;
  top: 60%;
  font-size: 50px;
  -webkit-text-stroke: #242424;
  animation: wave 4s infinite;
}

  /* targets title4 */
.card__title4 {
  transform: translateZ(300px);
  left:35%;
  top: 80%;
    /* transform: rotate(45deg) ; */
    -webkit-text-stroke: #242424;
}

/* calls the opacity_change animation */
.change_opacity{
  animation: opacity_change 2s forwards;
}

/* * for the back of the card */

.card__back {
  transform: rotateY(.5turn);
  /* transform-style: preserve-3d; */
  /* color: var(--clr); */
  color: lightblue;
  background: #333;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

/* targets the title */
.card__back_title {
  transform:  translateZ(300px);
  text-transform: uppercase;
  font-size: 30px;
  margin: 0px;
  z-index: 999; /* Set a high z-index */
}

/* target all the words in the back of the card */
.card__body_part1,.card__body_part2,.card__body_part3,.card__body_part4,.card__body_part5{
  margin: 0px;
}

/* targets the card__body_part1 */
.card__body_part1{
  transform: translateZ(200px)
}
/* targets the card__body_part2 */
.card__body_part2{
  transform: translateZ(100px)
}

/* targets the card__body_part3 */
.card__body_part3{
  transform: translateZ(50px)
}

/* targets the card__body_part4 */
.card__body_part4{
  transform: translateZ(200px)
}
/* targets the card__body_part5 */
.card__body_part5{
  transform: translateZ(300px)
}

/** makes the right side of the profile_content_container*/
.profile_right{
  min-width: 550px;
  min-height: 750px;
  /* background-color:blue; */
  /* display: inline-block; */
  /* display: flex; */
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  border:solid black 3px;
}



/* ? for the contact component */
.c_comp2{
  /* width: 100%; */
  /* height: 100%; */
  max-width: 550px;
  max-height:750px;
  /* background-color: purple; */
}

  /*this is for the size of the cart */
.card2 {
  /* width: 400px; */
  /* width: 100%; */
  height: 100%;
  /* background-color: green; */
}

/* for all the content front an back  */
.card__content2 {
  text-align: center;
  position: relative;
  /* padding: 15em 5em; */
  transition: transform 3s;
    /* background: pink; */
  transform-style: preserve-3d;
  min-width: 550px;
  min-height: 750px;
}

/* flips the card */
.flip_card2{
  transform: rotateY(-.5turn);
}

/* *for the front and back */
.card__front2,
.card__back2 {
  position: absolute;
  /* top: 100px; */
  /* bottom: 0; */
  /* left: 0;
  right: 0; */
  /* padding: 5em 3em; */
  backface-visibility: hidden;
  transform-style: preserve-3d;
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  flex-direction: column;
  /* flex-wrap: wrap; */
  width: 100%;
  height: 100%;
  /* background-color: red; */
}

/* *for the front  */
.card__front2 {
  /* background-image: url("../src/assets/Lenddy.jpg"); */
  /* background-size: cover; */
  /* background-blend-mode: overlay; */
  color: #333;
  width: 100%;
  height: 100%;
  /* background-color: #333; */
  border-radius: 50px;
  /* border-radius: 10px; */
}

/* target the title of the contact card */
.front_title_c2{
  transform: translateZ(50px);
  color: #00ffff;
  /* margin: 10px 0px 0px 0px; */
  margin:0px;
}
/* target the title of the contact card */
.front_title2_c2{ 
transform: translateZ(100px);
color: lightblue;
margin: 0px;
}

/* * for the form */

/* targets the contact in fo in the contact card */
.contact_info{
display: flex;
justify-content: space-around;
align-items: center;
margin: 0px;
width: 100%;
height: 0px;
transform: translateZ(150px);
}

/* targets the form in the contact card*/
.information_form{
display: flex;
justify-content:space-evenly;
flex-direction: column;
width: 90%;
height: 85%;
transform: translateZ(150px);
margin: 0px;
}

.span_div{
width:100%;
display: flex;
justify-content:space-between;
align-items: center;
}

.span_left.span_right{
display: flex;
width: 100%;
}

/* adds placeholder to the right side f the profile_content_container  inputs*/
textarea::placeholder,input::placeholder{
  color:lightblue;
  text-align: center;
  font-size: 20px;
  }


/* targets the inputs of the the right side f the profile_content_container */
textarea ,input{
background-color: #333;
color: white;
text-align: center;
border:solid lightblue 1px;
/* font-size:20px; */
margin:0px;
font-size: 20px;
}


input{
margin-bottom: 10px;
transform: translateZ(150px);
width: 200px;
height: 40px;
margin: 0px;
/* font-size: 15px; */
}

.validations{
  color: red;
  margin: 0px;
}

.form_btn{
height: 60px;
width: 200px;
font-size: 25px;
color: #ff00ff;
background-color: transparent;
border: solid 2px #ff00ff;
/* opacity: 0; */
/* filter: blur(5px); */
}

.form_btn:hover{
border: #f43c71 solid 2px;
background-color: #f8d3e1;
cursor: pointer;
}

.submit_Btn{
display: flex;
justify-content: space-around;
/* margin-top: 10px; */
margin-bottom: 10px;
}

  /* * for the back of the card */
.card__back2 {
  transform: rotateY(-.5turn);
  /* color: var(--clr); */
  color: lightblue;
  background: #333;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  /* margin-bottom: 100px; */
}

/* targets the title */
.card__back_title2 {
  transform:  translateZ(300px);
  text-transform: uppercase;
  /* font-size: 30px; */
  margin: 0px;
}


/** targets the section of the btns in the back of the contact card */
.back_btn_section{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  opacity: 0;
  margin-top: 100px;
}

/* target the btns in the back of the card */
.back_btn{
  height: 60px;
  width: 300px;
  font-size: 25px;
  color: #ff00ff;
  background-color: transparent;
  border: solid 2px #ff00ff;
  /* opacity: 0; */
  /* filter: blur(5px); */
  
}

/* adds a hover event in the btns in the back of the card */
.back_btn:hover{
  border: #f43c71 solid 2px;
  background-color: #f8d3e1;
  cursor: pointer;
}

  /* show the btns that are in the back  */
  /* calls the showBtn */
.fade_in{
  opacity: 0;
  animation: showBtn 1s 6s forwards ;
}

.back_item_size{
  font-size: 100px;
}

.cloud2,.cloud3,.cloud4,.cloud5,.cloud6,.cloud7,.cloud8{
  position: absolute;
  opacity: 0;
  transition: all 0s;
}

.cloud1{
  position: absolute;
  top:1%;
  right:90%;
  transform: translateZ(50px);
}
.cloud2{
  top:5%;
  right:70%;
  transform: translateZ(200px);
}
.cloud3{
  bottom:70%;
  right:60%;
  transform: translateZ(300px);
}
.cloud4{
  top:10%;
  right:40%;
  transform: translateZ(100px);
}

.cloud5{
  bottom:75%;
  right:20%;
  transform: translateZ(150px);
}
.cloud6{
  top:5%;
  right:1%;
  transform: translateZ(400px);
}
.cloud7{
  bottom:40%;
  right:15%;
  transform: translateZ(250px);
}

.cloud_animation1{
animation: cloudAnimation1 10s forwards;
}
.cloud_animation2{
  animation: cloudAnimation12 10s forwards;
}
.cloud_animation3{
  animation: cloudAnimation3 10s forwards;
}
.cloud_animation4{
  animation: cloudAnimation4 10s forwards;
}
.cloud_animation5{
  animation: cloudAnimation5 10s forwards;
}
.cloud_animation6{
  animation: cloudAnimation6 10s forwards;
}
.cloud_animation7{
  animation: cloudAnimation7 10s forwards;
}
.cloudy{
  animation: clouds 5s  forwards;
}

.cloud_spread{
  animation: spread_cloud_left 3s 3s forwards;
}
.cloud_spread_2{
  animation: spread_cloud_right 3s 2.7s forwards;
}




.rocket{
  position: absolute;
  top:90%;
  right: 90%;
  transform: translateZ(150px);
}

.animate{
  animation:   animate-rocket 2s 1s infinite ;
  scale: 2.5;
  /* animation:  bigger-rocket 3s 1s forwards ; */
  transition: scale 3s 2s ;
  }



    
.lunch{
  animation:blast-rocket 4s 2s forwards   ;
}





/* @medias  */
  
/* todo  width is a fix width */


/*todo       min-width = it can be as big as the container that is holding it but it cant be smaller that the given width */

/*todo  max-width  =  it cant be bigger that the given width but it can be any width below it   */


/* !   get the with of the page i put some code on how to do it on what i do component */
@media (max-width:1500px) {
  /*? for all components */
  .all_component {
    margin-bottom: 200px;
}
  /*? for the welcome component */
  .welcome{
      flex-direction: row;
      margin-bottom: 0px;
    }

    .welcomeRight {
      margin-top : 50px;
      
    }

  /* ? for the what i do  component */
  .whatIDo_middle{
    flex-wrap: wrap;
    flex-direction: column;
  }

  /*? projects */
  

  .project_container {
    flex-direction: column; 
    /* transition:2s; */
   
    /* background-color: blue; */
  }


.options {
  flex-direction: column; 
  width: 90%;
  height: 700px;
}

.option {
  min-width: 100%;
  max-height:80px ;
  margin: 10px;
  background-size: 200% auto ;

  transition: 1.5s ;
}

.active {
  max-height: 70%; /* Changed from 'max-width' to 'max-height' */
  background-size: auto 100%;

}

.option:not(.active) .label {
  top:20%; 
  left:5px; 
}



  /*? for the profile component */

  .profile_content_container{
    /* flex-direction: column; */
    flex-wrap: wrap;
  }

  .profile_left ,.profile_right{
    margin:50px 60px;
  }

  /*? profile */
  .profile_content_container{
    flex-wrap: wrap;
  }
  .card__back_title {
    transform:  translateZ(250px);
  }
/* targets the card__body_part1 */
.card__body_part1{
  transform: translateZ(150px)
}
/* targets the card__body_part2 */
.card__body_part2{
  transform: translateZ(50px)
}

/* targets the card__body_part3 */
.card__body_part3{
  transform: translateZ(25px)
}

/* targets the card__body_part4 */
.card__body_part4{
  transform: translateZ(150px)
}
/* targets the card__body_part5 */
.card__body_part5{
  transform: translateZ(250px)
}
}



@media (max-width:1000px) {
  /*? for all components */
  .all_component {
    margin-bottom: 100px;
}

   /*? for the welcome component */
  /* todo welcome left  */
  .welcomeMessage,.welcome_a_tag{
    text-align: center;
    font-size: 55px;
  }

  .subheader{
    display: flex;
    justify-content: center;
  }

  .subheader_message{
    text-align: center;
    font-size:25px;
  }

  .btn_welcome{
    width: 170px;
    font-size: 20px;
  }

  /* todo welcome right */
/* for the logo img in the right side */
/* calls the animation for the logo */
.logo{
  /* height: 90%; */
    height: 400px;
} 

/* ? for the what i do  component */
.whatIDo_top{
    height: 90px;
  }

  .whatIDo_top_text{
    font-size: 55px;
  }

  .whatIDo_middle h1 ,.whatIDo_bottom h1{ 
    font-size:30px;
    } 
    

  .whatIDo_middle p, .whatIDo_bottom p{
    font-size: 13px;
    max-width: 700px;
    }

  /*?  tools component */
  .title{
    font-size: 55px;
  }

  .tech_logos{
    width: 80px;
    height: 80px;
  }

  .tool_container p{
    font-size:13px ;
  }


/*? projects */
.header{
  font-size:55px;
}

.card_project {
  /* Keep your existing styles */
  height: 350px;
  width: 300px;
}
.card_project img{
  height: 200px;
}

.card_project h1{
  font-size:20px;
  
}

.card_project p{
  font-size: 13px;
}
.main  h1{
  margin: 0px;
  /* color: #00ffff; */
  font-size: 20px;
}

.sub p{
  margin: 0px;
  font-size: 12px;
  /* color: lightblue; */
}


/*? For Main component */
.profile_top h1{
  font-size:55px;
  }
/** makes the left side of the profile_content_container*/
/* for all the content front an back  */
.card__content {
  min-width: 450px;
  min-height: 600px;
}

/* this is the border  */
.card__front::before {
  top: 1%;
  bottom: 1%;
}

/* for all the word on the front  */
/* ,.card__title3 */
.card__title1,.card__title2,.card__title4 {
  font-size: 25px;
}

/* targets title1 */
.card__title1{ 
  top: 4%;
  transform: rotateX(25deg) rotateY(-35deg );
}

/* targets title2 */
.card__title2{
  left:0.9%;
  top: 50%;
}

/* * for the back of the card */

.card__back {
  /* min-width: ; */
  min-height: 600px;
}

/* targets the title */
.card__back_title {
  font-size: 25px;
}

/* target all the words in the back of the card */
.card__body_part1,.card__body_part2,.card__body_part3,.card__body_part4,.card__body_part5{
  font-size:13px;
}

/** makes the right side of the profile_content_container*/
.profile_right{
  min-width: 450px;
  min-height: 600px;
}


/* ? for the contact component */
/* for all the content front an back  */
.card__content2 {
  min-width: 450px;
  min-height: 600px;
  /* background-color: red; */
}

/* target the title of the contact card */
.front_title_c2{
  font-size: 25px;
}
/* target the title of the contact card */
.front_title2_c2{ 
  font-size: 13px;
}

/* * for the form */
/* adds placeholder to the right side f the profile_content_container  inputs*/
textarea::placeholder,input::placeholder{
  font-size:15px;
}

/* targets the inputs of the the right side f the profile_content_container */
textarea ,input{
  font-size:15px;
}

input{
  width: 170px;
  height: 25px;
}


.form_btn{
  font-size: 15px;
  height: 50px;
  width: 170px;
}

.cloud1,.cloud2,.cloud3,.cloud4,.cloud5,.cloud6,.cloud7,.cloud8,.rocket{
  font-size:75px ;
}

.validations{
  font-size: 13px;
}


}


@media (max-width:850px) {
/*? for all components */
.all_component {
  /* margin-bottom: 50px; */
}

 /*? for the welcome component */
/* todo welcome left  */
.welcomeMessage,.welcome_a_tag{
  text-align: center;
  font-size: 50px;
}

.subheader_message{
  text-align: center;
  font-size:20px;
}

.btn_welcome{
  width: 150px;
  font-size: 15px;
}

/* for the logo img in the right side */
/* calls the animation for the logo */
.logo{
/* height: 90%; */
  height: 300px;
} 

/* ? for the what i do  component */
.whatIDo_top{
  height: 80px;
}

.whatIDo_top_text{
  font-size: 50px;
}

.whatIDo_middle h1 ,.whatIDo_bottom h1{ 
  font-size:25px;
  } 
  
.whatIDo_middle p, .whatIDo_bottom p{
  font-size: 12px;
  max-width: 600px;
  }

/*?  tools component */
.title{
  font-size: 50px;
}

.tech_logos{
  width: 70px;
  height: 70px;
}

.tool_container p{
  font-size:12px ;
}


/*? projects */
.header{
font-size:50px;
}

.card_project {
/* Keep your existing styles */
/* height: 400px;
width: 300px; */
}
.card_project{
margin:60px ;
}

.card_project h1{
font-size:20px;

}

.card_project p{
font-size: 12px;
}


/*? For Main component */
.profile_top h1{
font-size:50px;
}
/** makes the left side of the profile_content_container*/
/* for all the content front an back  */
.card__content {
min-width: 400px;
min-height: 500px;
}

/* this is the border  */
.card__front::before {
top: 0.1px;
bottom: 0.1px;
}

/* for all the word on the front  */
/* ,.card__title3 */
.card__title1,.card__title2,.card__title4 {
font-size: 20px;
}

/* targets title1 */
.card__title1{ 
}

/* targets title2 */
.card__title2{
left:1.43%;
top: 50%;
}

/* * for the back of the card */

.card__back {
/* min-width: ; */
min-height: 500px;
}

/* targets the title */
.card__back_title {
font-size: 20px;
}

/* target all the words in the back of the card */
.card__body_part1,.card__body_part2,.card__body_part3,.card__body_part4,.card__body_part5{
font-size:11px;
}

/** makes the right side of the profile_content_container*/
/* come here */
.profile_right{
min-width: 400px;
min-height: 500px;
}


/* ? for the contact component */
/* for all the content front an back  */
.card__content2 {
  min-width: 400px;
  min-height: 500px;
/* background-color: red; */
}

/* target the title of the contact card */
.front_title_c2{
font-size: 20px;
}
/* target the title of the contact card */
.front_title2_c2{ 
font-size: 11px;
}

/* * for the form */
/* adds placeholder to the right side f the profile_content_container  inputs*/
textarea::placeholder,input::placeholder{
font-size:10px;
}

/* targets the inputs of the the right side f the profile_content_container */
textarea ,input{
font-size:10px;
}

input{
width: 140px;
height: 20px;
}


.form_btn{
font-size: 13px;
height: 40px;
width: 140px;
}

.cloud1,.cloud2,.cloud3,.cloud4,.cloud5,.cloud6,.cloud7,.cloud8,.rocket{
font-size:65px ;
}

.validations{
  font-size: 11px;
}

}


@media (max-width:750px) {
/*? for all components */
.all_component {
  /* margin-bottom: 50px; */
}

 /*? for the welcome component */
/* todo welcome left  */
.welcomeMessage,.welcome_a_tag{
  text-align: center;
  font-size: 45px;
}

.subheader_message{
  text-align: center;
  font-size:15px;
}

.btn_welcome{
  width: 100px;
  height: 50px;
  font-size: 10px;
}

/* for the logo img in the right side */
/* calls the animation for the logo */
.logo{
/* height: 90%; */
  height: 200px;
} 

/* ? for the what i do  component */
.whatIDo_top{
  height: 70px;
}

.whatIDo_top_text{
  font-size: 45px;
}

.whatIDo_middle h1 ,.whatIDo_bottom h1{ 
  font-size:20px;
  } 
  
.whatIDo_middle p, .whatIDo_bottom p{
  font-size: 11px;
  max-width: 500px;
  }

/*?  tools component */
.title{
  font-size: 45px;
}

.tech_logos{
  width: 60px;
  height: 60px;
}

.tool_container p{
  font-size:11px ;
}


/*? projects */
.header{
font-size:45px;
}

.card_project {
/* Keep your existing styles */
/* height: 400px;
width: 300px; */
}
.card_project{
margin:40px ;
}
.card_project {
  /* Keep your existing styles */
  height: 250px;
  width: 200px;
}
.card_project img{
  height: 150px;
}

.card_project h1{
font-size:13px;
}

.card_project p{
font-size: 10px;
}


/*? For Main component */
.profile_top h1{
font-size:45px;
}
/** makes the left side of the profile_content_container*/
/* for all the content front an back  */
.card__content {
min-width: 350px;
min-height: 450px;
}

/* this is the border  */
.card__front::before {
top: 0.1%;
bottom: 0.1%;
}

/* for all the word on the front  */
/* ,.card__title3 */
.card__title1,.card__title2,.card__title4 {
font-size: 15px;
}


/* targets title1 */
.card__title1{ 
  top:8% ;
  /* transform: translateZ(250px); */
}

/* targets title2 */
.card__title2{
left:2.15%;
top: 50%;
}
.card__title3 {
  font-size: 40px;
  left: 95%;
  top: 63%;
  transform: translateZ(100px);
  }

.card__title4 {
  transform: translateZ(200px);
  }

/* * for the back of the card */

.card__back {
/* min-width: ; */
/* min-width: 300px; */
min-height: 450px;
/* min-width: 450px;
min-height: 600px; */
backface-visibility: hidden;
}

/* targets the title */
.card__back_title {
font-size: 15px;
}

/* target all the words in the back of the card */
.card__body_part1,.card__body_part2,.card__body_part3,.card__body_part4,.card__body_part5{
font-size:9px;
}

/** makes the right side of the profile_content_container*/
.profile_right{
  min-width: 350px;
  min-height: 450px;
}

/** for the back side of the profile component */
/* targets the title */
.card__back_title {
  transform:  translateZ(200px);
}

/* targets the card__body_part1 */
.card__body_part1{
  transform: translateZ(100px)
}
/* targets the card__body_part2 */
.card__body_part2{
  transform: translateZ(50px)
}

/* targets the card__body_part3 */
.card__body_part3{
  transform: translateZ(25px)
}

/* targets the card__body_part4 */
.card__body_part4{
  transform: translateZ(100px)
}
/* targets the card__body_part5 */
.card__body_part5{
  transform: translateZ(200px)
}


/* !use the code pen circle to make the nav bar into burger menu when the width is  1000px  and decide if you want to keep the fade animation on it   */

/* ? for the contact component */
/* for all the content front an back  */
/* come here */

.card__content2 {
  min-width: 350px;
  min-height: 450px;
}

/* target the title of the contact card */
.front_title_c2{
font-size: 15px;
}
/* target the title of the contact card */
.front_title2_c2{ 
font-size: 11px;
}

/* * for the form */
/* adds placeholder to the right side f the profile_content_container  inputs*/
textarea::placeholder,input::placeholder{
font-size:11px;
}

/* targets the inputs of the the right side f the profile_content_container */
textarea ,input{
font-size:11px;
}

input{
width: 140px;
height: 30px;
}


.form_btn{
font-size: 11px;
height: 40px;
width: 140px;
}

.cloud1,.cloud2,.cloud3,.cloud4,.cloud5,.cloud6,.cloud7,.cloud8,.rocket{
font-size:50px ;
}

.cloud2{
  transform: translateZ(25px);
}
.cloud2{
  transform: translateZ(100px);
}
.cloud3{
  bottom:70%;
  right:60%;
  transform: translateZ(100px);
}
.cloud4{
  top:10%;
  right:40%;
  transform: translateZ(25px);
}

.cloud5{
  bottom:75%;
  right:20%;
  transform: translateZ(50px);
}
.cloud6{
  top:5%;
  right:1%;
  transform: translateZ(150px);
}
.cloud7{
  bottom:40%;
  right:15%;
  transform: translateZ(100px);
}


.validations{
  font-size: 9px;
}

}





/*? animations */

/** animation for the navbar */
/* use @-webkit-keyframes for older browsers */
/* shows the navbar */
@keyframes navbar {
0% {
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  opacity: 1;
}
100% {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  opacity: 1;
}
}

/*hide the navbar  */
@-webkit-keyframes hideNavBar {
0% {
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  opacity: 1;
}
100% {
  -webkit-transform: rotateX(70deg);
  transform: rotateX(70deg);
  opacity: 0;
}
}
@keyframes hideNavBar {
0% {
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  opacity: 1;
}
100% {
  -webkit-transform: rotateX(70deg);
  transform: rotateX(70deg);
  opacity: 0;
}
}

/* drop down menus animation */
@keyframes Go_to_animation {
0% {
  -webkit-transform: translateY(-500px);
          transform: translateY(-500px);
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  opacity: 0;
}
38% {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  opacity: 1;
}
55% {
  -webkit-transform: translateY(-65px);
          transform: translateY(-65px);
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}
72% {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}
81% {
  -webkit-transform: translateY(-28px);
          transform: translateY(-28px);
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}
90% {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}
95% {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}
100% {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}
}

/* all animations */


@keyframes popIn {
  0% {
      transform: scale(0); /* Start with no scale (hidden) */
      opacity: 1;
  }
  50% {
      transform: scale(1.2); /* Grow to slightly larger than normal size */
      opacity: 1;
  }
  100% {
      transform: scale(1); /* Return to normal size */
      opacity: 1;
  }
}



@keyframes rotate{
  from{
      transform: rotate(0deg);
  }

  to{
      transform: rotate(360deg);
  }
}

@keyframes slideFromTop {
  from{
      transform: translateY(-300px);
      
  }

  to{
      transform: translateY(0);

  }
}




@keyframes slideFromBottom {
0%{
      transform: translateY(200px);
      opacity: 1;
      filter: blur(3px);
  }

  50%{
    opacity: 1;
    filter: blur(2px);
  }

100%{
    transform: translateY(0);
    opacity: 1;
    filter: blur(0px);
}
}


@keyframes slideFromLeft {
  from{
      transform: translateX(-100%);
      /* opacity: 0; */
      opacity: 1;
  }

  to{
      transform: translateX(0);
      opacity: 1;
  }
}


@keyframes slideFromRight {
  0%{
      transform: translateX(100%);
      opacity: 1;
      filter: blur(3px);
  }
    50%{
      opacity: 1;
      filter: blur(2px);
    }

  100%{
      transform: translateX(0);
      opacity: 1;
      filter: blur(0px);
  }
}



@keyframes slowly_slideFromLeft {
0%{
    transform: translateX(-500px);
    opacity: 1;
    filter: blur(3px);
}
  50%{
    opacity: 1;
    filter: blur(2px);
  }

100%{
    transform: translateX(0);
    opacity: 1;
    filter: blur(0px);
}
}



@keyframes slideFromRight_short {
  0%{
      transform: translateX(200px);
      opacity: 1;
      filter: blur(3px);
  }
    50%{
      opacity: 1;
      filter: blur(2px);
    }

  100%{
      transform: translateX(0);
      opacity: 1;
      filter: blur(0px);
  }
}


@keyframes slideFromLeft_short {
  0%{
      transform: translateX(-200px);
      opacity: 1;
      filter: blur(3px);
  }
    50%{
      opacity: 1;
      filter: blur(2px);
    }

  100%{
      transform: translateX(0);
      opacity: 1;
      filter: blur(0px);
  }
}





@keyframes show {
from{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(100px);
}

  to{
      opacity: 1;
      filter: blur(0);
  transform: translateX(0);

  }
  
}



@keyframes slideAndShow {
from{
  opacity: 0;
  filter: blur(5px);
  /* transform: translateX(100px); */
}

  to{
      opacity: 1;
      filter: blur(0);
  /* transform: translateX(0px); */

  }
  
}


@keyframes leave {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-200%);
    filter: blur(5px);
    opacity: 0;
  }
}



@keyframes enter {
  0% {
    transform: translateX(200%);
    filter: blur(5px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}



@keyframes slideBlur {
  0% {
    transform: translateX(100%);
    opacity: 0;
    filter: blur(5px);
  }
  30% {
    transform: translateX(50%);
    opacity: 1;
    filter: blur(0);
  }
  60% {
    transform: translateX(50%);
    opacity: 1;
    filter: blur(0);
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
    filter: blur(5px);
  }
}


@keyframes scaleDown {
  0% {
    transform: scale(2); /* Start with no scale (hidden) */
    filter: blur(5px);
    opacity: 1;
}
100% {
    transform: scale(1); /* Return to normal size */
    filter: blur(0px);
    opacity: 1;
}
}



@keyframes scaleDown2 {
  0% {
    transform: scale(1.5); /* Start with no scale (hidden) */
    filter: blur(5px);
    opacity: 1;
}

100% {
    transform: scale(1); /* Return to normal size */
    filter: blur(0px);
    opacity: 1;
}
}



@keyframes popOut {
  0% {
    transform: scale(1); /* Start with no scale (hidden) */
    filter: blur(0px);
    opacity: 1;
  }

  100% {
    transform: scale(1.4); /* Slightly larger on hover */
    filter: blur(0px);
    opacity: 1;
  }
}



@keyframes opacity_change {
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}


@keyframes wave {

0% {
  transform: translateX(0) translateY(0) rotate(0deg) translateZ(100px) ;
}

50% {
  transform: translateX(20px) rotate(90deg)  rotateX(15deg) rotateY(-15deg )  translateZ(100px); ;
}

100% {
  transform: translateX(0) translateY(0) rotate(0deg)  translateZ(100px);;
}
}



@keyframes page-turn {
  0% {
      transform: perspective(2000px) rotateY(0deg) ;
      opacity: 1;
  }
  100% {
      transform: perspective(2000px) rotateY(-360deg);
      opacity: 1;
  }
}


@keyframes showBtn {
  from{
    opacity: 1;
  }
  to{
    opacity: 1;
  }
  
}


  
@keyframes cloudAnimation1 {
  from{
    transform: translateX(250px);
    opacity: 1;
    transform: translateZ(50px);

  }
  to{
    transform: translateX(0);
    opacity: 1;
    transform: translateZ(50px);

  }
}
@keyframes cloudAnimation2 {
  from{
    transform: translateX(250px);
    opacity: 1;
transform: translateZ(250px);

  }
  to{
    transform: translateX(0);
    opacity: 1;
transform: translateZ(250px);
  }
}
@keyframes cloudAnimation2 {
  from{
    transform: translateX(250px);
    opacity: 1;

transform: translateZ(300px);

  }
  to{
    transform: translateX(0);
    opacity: 1;

transform: translateZ(300px);

  }
}
@keyframes cloudAnimation3 {
  from{
  transform: translateX(250px);
  opacity: 1;
  transform: translateZ(300px);
}

to{
    transform: translateX(0);
    opacity: 1;
  
transform: translateZ(300px);
}
}
@keyframes cloudAnimation4 {
  from{
    transform: translateX(250px);
    opacity: 1;

transform: translateZ(300px);

  }
  to{
    transform: translateX(0);
    opacity: 1;
transform: translateZ(300px);

  }
}
@keyframes cloudAnimation5 {
  from{
    transform: translateX(250px);
    opacity: 1;

transform: translateZ(100px);

  }
  to{
    transform: translateX(0);
    opacity: 1;
transform: translateZ(100px);

  }
}
@keyframes cloudAnimation6 {
  from{
    transform: translateX(250px);
    opacity: 1;

transform: translateZ(150px);

  }
  to{
    transform: translateX(0);
    opacity: 1;
transform: translateZ(150px);

  }
}
@keyframes cloudAnimation7 {
  from{
    transform: translateX(250px);
    opacity: 1;
    transform: translateZ(250px)

  }
  to{
    transform: translateX(0);
    opacity: 1;
    transform: translateZ(250px)

  }
}
@keyframes spread_cloud_left {
  from{
    transform:translateX(0) translateY(0) ;
  }
  to{
    transform:translateX(-40px) translateY(-40px) ;
  }

}

@keyframes spread_cloud_right {
  from{
    transform:translateX(0) ;
  }
  to{
    transform:translateX(90px) translateY(-50px) ;
  }
  /* translateY(50px) */
}



@keyframes animate-rocket {
  0% {
    transform: rotate(10deg);
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  25% {
    transform: rotate(-15deg);
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  50% {
    transform: rotate(5deg);
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  75% {
    transform: rotate(-10deg);
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  100% {
    transform: rotate(10deg);
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@keyframes blast-rocket {
  from{
    
  }
  to{
    transform:  translate3d(100vw,-100vw,0) 
  }
}


