/* @import url('https://fonts.googleapis.com/css?family=Oswald:400,700'); */

 
  

  
  @media (min-width:400px){
  
  }
  
  
  
  
  
  

  
  /*! this goes before .navbar ul */
  /* .navLogo:hover{
      cursor: pointer;
      border-bottom: #ff00ff solid 2px;
  } */
  
  
  
  
  /* @-webkit-keyframes navbar {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1;
  }
} */

  
/* this goes after  .navbar ul li:hover , .resume_a:hover */
  /* this goes after the  */
  /* .navbar ul li a{
    text-decoration:none
  } */
  
  
  
  
  

  
  
  
  
  
  
  
  
  
  
  
 
  
   
  
  
  /* .navLogo{
    animation:rotate 10s ;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    border-bottom: none;
  } */
  
  
  
  /*exit */
  .Go_to_animationExit {
      -webkit-animation: Go_to_animationExit 0.45s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
              animation: Go_to_animationExit 0.45s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
  }
  
  @-webkit-keyframes Go_to_animationExit {
    0% {
      -webkit-transform: translateY(0) scaleY(1) scaleX(1);
              transform: translateY(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(-1000px) scaleY(2) scaleX(0.2);
              transform: translateY(-1000px) scaleY(2) scaleX(0.2);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
  }
  
  @keyframes Go_to_animationExit {
    0% {
      -webkit-transform: translateY(0) scaleY(1) scaleX(1);
              transform: translateY(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(-1000px) scaleY(2) scaleX(0.2);
              transform: translateY(-1000px) scaleY(2) scaleX(0.2);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
  }
  
  /* ? for the circle menu   experimental*/
  
  
  .circular-menu .floating-btn {
    display: block;
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    background-color: hsl(4, 98%, 60%);
    box-shadow: 0 2px 5px 0 hsla(0, 0%, 0%, .26);  
    color: hsl(0, 0%, 100%);
    text-align: center;
    line-height: 3.9;
    cursor: pointer;
    outline: 0;
  }
  
  .circular-menu.active .floating-btn {
    box-shadow: inset 0 0 3px hsla(0, 0%, 0%, .3);
  }
  
  .circular-menu .floating-btn:active {
    box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, .4);
  }
  
  .circular-menu .floating-btn i {
    font-size: 1.3em;
    transition: transform .2s;  
  }
  
  .circular-menu.active .floating-btn i {
    transform: rotate(-45deg);
  }
  
  .circular-menu:after {
    display: block;
    content: ' ';
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -2;
    background-color: hsl(4, 98%, 60%);
    transition: all .3s ease;
  }
  
  .circular-menu.active:after {
    transform: scale3d(5.5, 5.5, 1);
    transition-timing-function: cubic-bezier(.68, 1.55, .265, 1);
  }
  
  .circular-menu .items-wrapper {
    padding: 0;
    margin: 0;
  }
  
  .circular-menu .menu-item {
    position: absolute;
    top: .2em;
    right: .2em;
    z-index: -1;
    display: block;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    font-size: 1em;
    width: 3em;
    height: 3em;
    border-radius: 50%;
  
    text-align: center;
    line-height: 3;
    background-color: hsla(0,0%,0%,.1);
    transition: transform .3s ease, background .2s ease;
  }
  
  .circular-menu .menu-item:hover {
    background-color: hsla(0,0%,0%,.3);
  }
  
  .circular-menu.active .menu-item {
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .circular-menu.active .menu-item:nth-child(1) {
    transform: translate3d(1em,-7em,0);
  }
  
  .circular-menu.active .menu-item:nth-child(2) {
    transform: translate3d(-3.5em,-6.3em,0);
  }
  
  .circular-menu.active .menu-item:nth-child(3) {
    transform: translate3d(-6.5em,-3.2em,0);
  }
  
  .circular-menu.active .menu-item:nth-child(4) {
    transform: translate3d(-7em,1em,0);
  }
  
  /**
   * The other theme for this menu
   */
  
  .circular-menu.circular-menu-left {
    right: auto; 
    left: 1em;
  }
  
  .circular-menu.circular-menu-left .floating-btn {
    background-color: hsl(217, 89%, 61%);
  }
  
  .circular-menu.circular-menu-left:after {
    background-color: hsl(217, 89%, 61%);
  }
  
  .circular-menu.circular-menu-left.active .floating-btn i {
    transform: rotate(90deg);
  }
  
  .circular-menu.circular-menu-left.active .menu-item:nth-child(1) {
    transform: translate3d(-1em,-7em,0);
  }
  
  .circular-menu.circular-menu-left.active .menu-item:nth-child(2) {
    transform: translate3d(3.5em,-6.3em,0);
  }
  
  .circular-menu.circular-menu-left.active .menu-item:nth-child(3) {
    transform: translate3d(6.5em,-3.2em,0);
  }
  
  .circular-menu.circular-menu-left.active .menu-item:nth-child(4) {
    transform: translate3d(7em,1em,0);
  }
  
  
  
  /*? for the new btn circle effect */
  
  /* .navLogo{
    height: 50px;
    margin-top:5px;
  } */
  .circleContainer{
    width: 60px;
    height: 60px;
  }
  
  #menu {
    width: 60px;
    height: 60px;
    position: absolute;
  
    list-style: none;
  }
  
  .menu-button {
    opacity: 0;
    z-index: -1;
  } 
  
  .menu-button {
    width: 60px;
    height: 60px;
    position: absolute;
  
    border-radius: 50%;
    background-size: 100%;
    overflow: hidden;
    text-decoration: none;
  }
  
  #menu:not(:target)>a:first-of-type,
  #menu:target>a:last-of-type {
    opacity: 1;
    z-index: 1;
  }
  
  #menu:not(:target)>.icon-plus:before,
  #menu:target>.icon-minus:before {
    opacity: 1;
  }
  
  .menu-item {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 70%;
    line-height: 5px;
    top: 65%;
    margin: -50px 0 0 -50px;
    border-radius: 50%;
    border: solid white 2px;
    background-color: #424242;
    transform: translate(0px, 0px);
    transition: transform 500ms;
    z-index: -2;
    transition: .5s;
    cursor: pointer; 
  }
  
  .menu-item:hover {
    opacity: 0.5;
    box-shadow: 0 5px 10px black;
  }
  
  .menu-item a {
    color: #fff;
    position: relative;
    top: 50%;
    left: 0;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  
  .fade{
    opacity: 0;
    width: 0px;
    height: 0px;
  }
  
  #menu:target>.menu-item:nth-child(6) {
    transform: rotate(60deg) translateY(150px) rotate(300deg); 
    transition-delay: 0s;
  }
  
  #menu:target>.menu-item:nth-child(5) {
    transform: rotate(20deg) translateY(155px) rotate(-20deg);
    transition-delay: 0.1s;
  }
  
  #menu:target>.menu-item:nth-child(3) {
    transform: rotate(-20deg) translateY(155px) rotate(20deg); 
    transition-delay: 0.2s;
  }
  
  #menu:target>.menu-item:nth-child(4) {
    transform: rotate(-60deg) translateY(150px) rotate(60deg); 
    transition-delay: 0.3s;
  }
  
  
  /*? for the language button component  for the navbar*/
  
  .circleItems{
      height: 46px;
      margin-bottom: 60px;
  }
  
  
  /* for the animation btn */
  /* .animation_Mode{
  
  } */
  

  

  /* ! animations for the welcome component */

  .subheader_no_animation{
      font-size:30px;
      width: 90%;
      color: lightblue;
  opacity: 1;
  }
  
  .btn_welcome_no_animation{
      opacity: 1;
      height: 70px;
      width: 200px;
      font-size: 25px;
      color: #ff00ff;
      background-color: transparent;
      border: solid 2px #ff00ff;
      }
  
  
  .btn_welcome_no_animation:hover{
          color: #f43c71;
          background-color: #f8d3e1;
          transform: translateY(-10px);
          /* transition-delay:0ms ; */
          }
  
  
  
  
  
 
  
  
  .btn_welcome_no_animation{
      opacity: 1;
      filter: blur(0);
  }
  
  
  .btn_welcome_no_animation:nth-child(1){
      /* border-bottom-left-radius:0px ;
      border-top-right-radius:0px ; */
      border-top-right-radius:0px ;
      border-top-left-radius:50px ;
      border-bottom-left-radius:50px ;
      border-bottom-right-radius:0px ;
      
      border-right: 0px;
      /* width: 200px; */
      /* transition-delay:0.5s; */
      /* animation: show 1s ease 1.5s normal forwards; */
  }
  
  .btn_welcome_no_animation:nth-child(2){
      /* border-bottom-left-radius:0px ;
      border-top-right-radius:0px ; */
      /* border-radius: 0px; */
      border-left: 0px;
      border-right:  0px;
      /* transition-delay:1s ; */
      /* animation: show 1s ease 2s normal forwards; */
  }
  
  .btn_welcome_no_animation:nth-child(3){
      /* border-top-left-radius:0px ;
      border-bottom-right-radius:0px ; */
      /* border-radius: 0px; */
      border-left: 0px;
      border-right:  0px;
      /* transition-delay:1.5s ; */
  
      /* animation: show 1s ease 2.5s normal forwards; */
  }
  
  .btn_welcome_no_animation:nth-child(4){
      border-top-left-radius:0px ;
      border-top-right-radius:50px ;
      border-bottom-left-radius:0px ;
      border-left: 0px;
      /* border-bottom-right-radius:30px ; 
      /* border-right:  0px; */ 
      /* border-left:0px ; */
      /* border-radius: 0px; */
      /* transition-delay:2s ; */
   
      /* animation: show 1s ease 3s normal forwards; */
  }
  
  .logo_no_animation{
      opacity: 1;
      height: 90%;
  }
  
  .subtext_no_animation{
      opacity: 1;
  }
  
  /*  */
  
  
  
  
  

  
  
  /* color: #242424; */
  /* .whatIDo_top_text{
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  } */
  /* border: #00ffff solid 2px; */
  /* background-color:#00ffff ; */
  





  
  
  
  

  
  
  
  
 
  /* .whatIDo_top_text_opacity{
    opacity: 1;
    filter: blur(0px);
  } */
  
  

  
  .blink{
  
  }
  
  .blink:nth-child(1){
    /* animation: show 5s  4s; */
  }
  
  


  
  /* .whatIDo_left_animation{
    animation: show 3s ease 2.5s forwards;
  }
  .whatIDo_right_animation{
    animation: show 3s ease 3s forwards;
  }
  .whatIDo_bottom_animation{
    animation: show 3s ease 3.5s forwards;
  } */
  
 
  
  
  

  
  
 
  

  
  




  
  

  
  
  /* .card_project{
    height: 500px;
    width: 400px;
    border-radius: 60px;
    border: #ff00ff solid 2px;
    margin: 0px;
  } */
  
  
  
  
  
  
  /* .project_image1{
    border-radius:50px 50px 0px 0px;
  }
  .project_image2{
    border-radius:50px 50px 0px 0px;
  }
  .project_image3{
    border-radius:50px 50px 0px 0px   ;
  } */
  
  /* .card_project img{
    margin-top: 20px;
    width: 80%;
    height: 150px;
    border-radius: 30px;
    border: 2px solid black;
    
  } */
  /* 
  .red h1{
      color: red;
  }
  .blue h1{
    color: blue;
  } */
  

  
  /* .project_tittle{
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0px);
  } */

 
  
  
  
  
  
  .profile_btn{
    opacity: 1;
    height: 70px;
    width: 200px;
    font-size: 25px;
    color: #ff00ff;
    background-color: transparent;
    border: solid 2px #ff00ff;
    transition: transform 2s;
    transform: translateY(0);
    transform: translateZ(100px);
    }
  
  
    .profile_btn:hover{
        color: #f43c71;
        background-color: #f8d3e1;
        transition: transform 2s;
        transform: translateY(-10px);
        /* transition-delay:0ms ; */
        }
  
  /* for the card */
  
  
  
  
  
  
  
  

  

  

  

  

  
  



  
  
  

  
  
  .card__body {
    /* transform:  translateZ(300px); */
    /* margin: 0px; */
    /* font-weight: var(fw-normal); */
    /* font-size: 1.5rem; */
    /* line-height: 1.6; */
  }
  
  /* .visible{
    animation: opacity_change 2s forwards reverse;
  } */
  
  /* .flip_position{
    transform: rotateX(-180deg);
  } */
  

  
  
  /* .slide_in{
    animation: slowly_slideFromLeft 2s ease 1.5s forwards;
    
  } */
  
  
  /* @keyframes s {
    
  } */
  

  
  

  







  
  
  /* .card__front2::after {
    content: '';
    position: absolute;
    top: 3%;
    bottom: 3%;
    left:10px;
    right: 10px;
    border: 5px solid currentColor;
    transform: translateZ(150px);
    border-radius: 50px;
  } */








  

  

  
  
  

  
  
  
 
  
 
  

  


  /* cloud 2 */
  
  
  
  

  