#root {
	max-width: 1280px;
}

* {
	margin: 0px;
	padding: 0px;
}

.navbar-container {
	height: 100px;
	width: 100%;
	background-color: red;
}

.Banner-container {
	height: 100px;
	width: 100%;
	background-color: blue;
}

.Information-container {
	height: 100px;
	width: 100%;
	background-color: purple;
}

.DropdownMenu-container {
	height: 100px;
	width: 100%;
	background-color: green;
}
